<div class="container mt-5">

    <form action="" class="form-group">
        <input type="text" class="form-control" (input)="buscarProductos($event.target.value)" placeholder="Busque un producto...">
    </form>

    <button routerLink="/agregar-producto" class="btn btn-primary mt-3">Agregar Producto</button>

    <div class="row mt-3">
        <div class="col-sm-3" *ngFor="let producto of productos">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{producto.nombre}}</h5>
                  <h6 class="card-subtitle">{{producto.productoID}}</h6>
                  <p class="card-text">{{producto.descripcion}}</p>
                  <p class="card-text">{{producto.precio | currency: 'Mxn: '}}</p>
                  <a (click)="agregar(producto)" class="btn btn-primary">Agregar</a>
                  <a (click)="eliminar(producto)" class="btn btn-danger ms-3">Eliminar</a>
                </div>
            </div>
        </div>
    </div>


</div>